.planets-box {
  display: flex;
  background: url(../../img/b2.jpg) center/cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  flex-direction: column;
}

.planets-box-button {
  padding: 10px 20px;
  color: #6f6f6f;
  font-size: 20px;
  background: none;
  margin-top: 100px;
  border-radius: 8px;
  margin-bottom: 50px;
  outline: none;
  cursor: pointer;
  background-color: #222020;
}

.planets-box-button:hover {
  color: aliceblue;
}

.planets-box-button:active {
  transform: translateY(4px);
  box-shadow: 0 3px #26272d;
}

.planets-box-names-wrapper {
  margin-left: 30px;
  display: flex;
  height: 300px;
  overflow: hidden;
  flex-direction: row;
}

.planets-box-names {
  overflow-y: auto;
  display: flex;
  color: aliceblue;
  flex-wrap: wrap;
}

.planets-box-name {
  text-align: center;
  border-radius: 8px;
  width: 120px;
  height: 50px;
  margin: 10px;
  border: 1px #6f6f6f solid;
  cursor: pointer;
  padding: 5px;
  background: rgba(22, 20, 20, 0.5);
}

.planets-box-name:hover {
  color: rgb(144, 146, 144);
  background: rgba(22, 20, 20, 0.9);
}
