.planets-header {
  background-color: #222020;
}

.planets-header-wrapper {
  display: flex;
  justify-content: space-between;
}

.planets-header-logo-text {
  display: flex;
  margin-left: 150px;
}

.planets-header-logo {
  color: aliceblue;
  margin-top: 25px;
}

.planets-header-text {
  color: #6f6f6f;
  display: flex;
}

.planets-header-social-icons {
  margin-right: 100px;
  padding-top: 8px;
  display: flex;
}

.planets-header-box-icon {
  margin: 15px;
}

.planets-header-icon {
  color: #6f6f6f;
}

.planets-header-icon:hover {
  color: aliceblue;
}
